<html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="{{ url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/aos/aos.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" >
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" >
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" >
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}">

  <body>
 
        <header id="header" class="fixed-top ">
            <div class="container d-flex align-items-center justify-content-lg-between">
          
              <nav id="navbar" class="navbar order-last order-lg-0">
                
                  <a class="nav-link scrollto" href="{{ url_for('FUN_root') }}">CLICK HERE TO HOME PAGE</a>
                
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav>
          
            </div>
          </header><!-- End Header -->
          
  
         
        {% block body %}{% endblock %}
         
      
      
  </body>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}" ></script>
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>


  <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
</html>