{% extends "base.html" %}
{% block page_title %}Public Page{% endblock %}
{% block body %}
    {{ super() }}
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html"><span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <!--<li><a class="nav-link scrollto" href="#about">About</a></li>-->
          <li><a class="nav-link scrollto" href="#services">Clubs</a></li>
          <li><a class="nav-link scrollto" href="#team">Contact Clubs</a></li>
          <li><a class="nav-link scrollto" href="#contact">Events</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>UNICLUB ALL CLUBS IN SINGLE PLATFORM<span>.</span></h1>
          <h2>A PLATFORM TO EXPLORE ALL CLUBS OF CEG</h2>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clubs</h2>
          <p>Check Out Clubs of CEG</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <!--<div class="icon"><i class="bx bxl-dribbble"></i></div>-->
              <h4><a href="" style="color: black;">Students Association of CEG</a></h4>
              <p>The Students Association of CEG, generally abbreviated as SA-CEG is the official student representative body of the institution. They are a channel of communication between the management 
                and the students and voice out matters that include academia and welfare.</p>
                <br/><br/>
                <div class="social">
                  <a href="https://www.facebook.com/ArtsSocietyCEG/" style="color: black;"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/saas_ceg/?hl=en" style="color: black;"><i class="bi bi-instagram"></i></a>
                  <a href="https://in.linkedin.com/in/saas-ceg-44453a207" style="color: black;"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Arts society of CEG</a></h4>
              <p>The Arts Society of the college is primarily concerned with the extra curricular and cultural activities undertaken by CEG. It plays host for Techofes, India's largest inter college cultural fest since 1948 to 
                encourage and identify talent in fields apart from engineering academia.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">CEG Tech Forum</a></h4>
              <p>The CEG Tech Forum, was convened to nurture the scientific temper of the student populace. Engineering projects pertaining to the needs of the society are an integral part of the successful ventures undertaken by CTF. The forum also organizes Kurukshetra, 
                one of the biggest techno-management events of the country.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4><a href="">The Guindy Times</a></h4>
              <p>The Guindy Times is the official campus magazine of CEG, AC Tech and SAP. 
                This students' magazine is a media body which aims to provide regular updates regarding all the happenings of the college.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <h4><a href="">Literary Club of Anna University</a></h4>
              <p>The literary club seeks to nurture the literary talents of the students. It conducts various inter- and intra- college events
                 and training activities through the year in this sphere.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4><a href="">Robotics Club</a></h4>
              <p>With an untiring motive of pervading the knowledge of Robotics among the students, the robotics club conducts various workshops and courses through the year.Further, internship opportunities
                 are provided for excelling candidates.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Rotaract Club of CEG</a></h4>
              <p>The Rotaract club seeks to improve the leadership and professional skills of the students in addition to moulding them into responsible individuals. They organize various events 
                that foster the spirit of social responsibility.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Capitalise</a></h4>
              <p>A wing of the entrepreneur development cell of CEG, capitalize enables the interested to take informed decisions to bring in successful entrepreneur and students on a common platform.Further, the club motivates the members on
                 various dimensions of industry to nurture the latent entrepreneurial talent.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">ACM Student Chapter of CEG</a></h4>
              <p>The ACM Student Chapter of CEG, generally abbreviated as ACM CEG is the official student Chapter of ACM in the institution. It's aim is to motivate students to embark on the journey of learning and developing the tools of computer science and instilling in them a passion for computer science. It serves to clear the clutter and
                 provide guidance to help them to achieve their goals.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Pixels</a></h4>
              <p>Pixels, the official photography and videography club of CEG, is a rapturous platform for those who are passionate about the art of photography.
                They  implement creative photobooths during these festivals to enable students to capture their college memories physically, on paper, in a digitally thriving world. 
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Quizzers Anonymous</a></h4>
              <p>The quiz club is dedicated to preparing and conducting quality quizzing events and training sessions to nurture the quizzing skills in students host competitions that assess the 
                quizzers in various fields of knowledge and arts.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Theatron</a></h4>
              <p>As the official theatre club of CEG, Theatron produces plays while maintaining a commitment to living playwrights and taking a comprehensive approach to artistic development and arts education. Its mission and 
                values give CEG a unique place in Indian theatre.</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Siruthuligal</a></h4>
              <p>An entirely student volunteered club, siruthuligal aims to provide financial aid for academic and medical 
                purposes to the students.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">CSAU</a></h4>
              <p>With the primary aim to enhance students’ knowledge in the field of computer science, this club 
                conducts various workshops and courses through the year.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Mathavam</a></h4>
              <p>Mathavam is the association of the Tamil enthusiasts of the college. With a shared love for literature and language, this 
                club brings a pool of talent for utilization.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Saptham</a></h4>
              <p>Seeking to encourage students in the field of classical performing arts, Saptham provides ample opportunities to 
                students to showcase their singing and dancing talents.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">CEG Spartanz</a></h4>
              <p>The official variety show troupe of the college help students exhibit their talents and passion for street theater.</p>
            </div>
          </div>
        
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Twisters</a></h4>
              <p>The official dance troupe of CEG, with extremely high reputation in the city for excellence in performance and creativity, train and encourage the 
                interested with distinctive dance techniques.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">LEO Club of CEG</a></h4>
              <p>The Leo club focusses on enhancing the leadership skills of the students along with providing 
                varied opportunities and experiences for all around improvement.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Green Brigade</a></h4>
              <p>Green brigade is the only non-technical club of CEG that aims to promote environmental awareness. It also organizes various events in 
                association with other NGOs that work for similar causes.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Sruthilaya</a></h4>
              <p>With shared interest and passion in music, sruthilaya functions as the official band of CEG. Influenced by indian, western and regional pop, the band performs multiple genres and has 
                acquired high acclaim by winning various competitions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">Aakrithi</a></h4>
              <p>An exclusive all women’s club, Aakrithi seeks to reach out and help in the holistic development of the girls, in all facets.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">SCI</a></h4>
              <p>The Students Creativity and Innovation lab functions in a way which ultimately develops creativity and 
                innovation into students, making them to stand out in a crowd.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4><a href="">SQC</a></h4>
              <p>The Students Quality Club is a forum to empower the students to significantly improve their personal and professional effectiveness, by offering opportunities
                 to enable them to have a first hand industry experience.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->
    <!-- ======= Team Section ======= -->
   
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>Check our Portfolio</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{{ url_for('display_image', filename='assets/img/portfolio/portfolio-1.jpg') }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 2</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!--
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>SIGN UP</h2>
          <p>Sign in to experience the exciting events of CEG</p>
        </div>

        
      </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>UNICLUB</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by  <a href="https://www.linkedin.com/in/shakthi-prarthana-v-7252021ab/"  style="color: white;"><i class="bi bi-linkedin"></i>Shakthi Prarthana V</a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}